/*Fuentes Personalizadas*/

@font-face {
    font-family: TrebuchetMS;
    src: url(fonts/TrebuchetMS.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BebasNeue";
    src: url(fonts/BebasNeue.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "WebSymbolsregular";
    src: url(fonts/websymbols-regular-webfont.eot);
    src: url(fonts/websymbols-regular-webfont.eot?iefix) format(embebed-opentype),
        url(fonts/websymbols-regular-webfont.woff) format(woff),
        url(fonts/websymbols-regular-webfont.ttf) format(truetype),
        url(fonts/websymbols-regular-webfont.svg#WebSymbolsRegular) format(svg);
    font-weight: normal;
    font-style: normal;
}

/*Estilos Generales*/
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #2a160c;
    
}

.wrap {
    width: 1250px;
    margin: 0px auto;
}

.clearfix {
    float: none;
    clear: both;
}


/*Cabecera*/
#header {
    transition: all ease-in-out 1s;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #883d1a;
    font-family: "BebasNeue";
    color: #e6b17e;
    z-index: 10;

}

#menu {
    float: right;
    height: 70px;
    padding-top: 0px;
    padding-right: 20px;
    background: transparent;
    color: #e6b17e;
}

#menu ul li {

    font-size: 24px;
    display: inline-block;
    margin-right: 0px 20px 0px 20px;
    letter-spacing: 1px;
    line-height: 70px;
}

#menu ul li a {
    display: block;
    letter-spacing: 2px;
    margin-left: 20px;
    color: #e6b17e;
    text-decoration: none;
    transition: all 2s;
    
}

#menu ul li a:hover {
    color: #2a160c;
    transform: scale(1.2 1.2);
}

.logo {
    display: block;
    margin-left: 19px;
    margin-bottom: auto;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 70px;

}

#banner {

    width: 95.5%;
    height: 100%;
    border: 6px solid #883d1a;
    box-shadow: 0px 0px 2px gray;
    background: url(../images/academiatenas.png);
    background-position: -200px -200px;
    margin: auto;
    margin-top: 100px;
    overflow: hidden;
    animation: backBanner 15s linear;
    
}

@keyframes backBanner {
    0% {
        background-position: 0px 0px;
    }

    100% {
        background-position: -200px -200px;
    }
}

#banner h1 {
    display: block;
    width: 850px;
    font-family: "BebasNeue";
    font-weight: normal;
    color: white;
    font-size: 55px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 1px black;
    margin: 27px auto;
    text-align: center;
    animation: showTest 10s linear;

}

@keyframes showTest {
    0% {
        transform: translateX(-600%) scale(5, 5);
        opacity: 1;

    }

    50% {
        transform: translateX(600%) scale(5, 5);
        opacity: 1;

    }

    75% {
        transform: translateX(-600%) scale(5, 5);
        text-shadow: none;
        color: transparent;
        opacity: 0;

    }

    100% {
        transform: translateX(0%) scale(1, 1);
        text-shadow: 2px 2px 1px black;
        color: white;
        opacity: 1;

    }
}

/*Tarjetas*/

#card {
    float: left;
    width: 203px;
    height: 305px;
    border: 2px solid #883d1a;
    box-shadow: 1px 1px 2px #883d1a;
    background: #883d1a;
    overflow: hidden;
    margin: 21px;
    margin-top: 40px;
    cursor: pointer;
    transition: all 300ms;
}

#card:hover {
    border: 2px solid #883d1a;
    background: #2a160c;
}

#card .icon {
    display: block;
    width: 100%;
    height: 130px;
    font-size: 50px;
    line-height: 110px;
    text-align: center;
    margin: 15px auto;
    transition: all 300ms;
}

#card:hover .icon {
    font-size: 70px;
    animation: showIcon 300ms linear;
}

@keyframes showIcon {
    from {
        transform: translateY(-200%);
    }

    to {
        transform: translateY(0%);

    }
}

#card .category {
    width: 100%;
    height: 87px;
    font-family: 'Trebuchet MS';
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    color: #e6b17e;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
}

#card:hover .category {
    color: white;
    animation: showCategory 500ms linear;
    -webkit-animation: showCategory 500ms linear;
}

@keyframes showCategory {
    from {
        transform: translateY(-300%);
    }

    to {
        transform: translateY(0%);
        color: white;
    }
}

#card .description {
    text-align: center;
    color: #e6b17e;
    font-family: "TrebuchetMS";
    font-size: 15px;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
}

#card:hover .description {
    color: white;
    animation: showDescription 400ms linear;
}

@keyframes showDescription {
    from {
        transform: translateX(-300%);
    }

    to {
        transform: translateX(0%);
    }
}

/*Barra Lateral*/

#aside {
    width: 335px;
    min-height: 1200px;
    font-family: "BebasNeue";
    float: right;
    margin: 25px;
}

#aside h3 {
    display: block;
    width: 280px;
    height: 45px;
    line-height: 49px;
    background: #883d1a;
    box-shadow: 0px 1px 0px #e6b17e, 1px 2px 0px #e6b17e, 2px 3px 0px #e6b17e, 3px 4px 0px #e6b17e;
    font-size: 30px;
    font-family: "BebasNeue";
    font-weight: normal;
    color: #e6b17e;
    letter-spacing: 2px;
    padding-left: 15px;
    margin-top: 30px;
    margin-bottom: 15px;
}

#aside h3:first-child {
    margin-top: 0px;
}

#aside .widget {
    display: block;
    width: 250px;
    margin: 5px auto;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    border-bottom: 1px dashed #e6b17e;
    
}

#aside .widget:last-child {
    margin-bottom: 20px;
}

#aside li {
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 5px;
    margin-left: 20px;
    list-style:none;

}

#aside div label,
#aside div input[type="text"],
#aside div input[type="email"],
#aside div input[type="password"],
#aside div a {
    
    font-size: 15px;
    font-family: "TrebuchetMS";
    color:#e6b17e;
    display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
    text-decoration: none;
}

#aside div a{
    text-align: left;
    width: auto;
}

#aside div input[type="button"],
#aside div input[type="submit"],
#aside div button {

    margin-top: 10px;
    margin-bottom: 6px;
    margin-left: 124px;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
}

#aside input,
#aside label {
    margin: 35px;
    text-align: left;
   
    
}

/*FORMULARIOS*/

input[type="text"],
input[type="email"],
input[type="password"],
select {
    border: 1px solid #e6b17e;
    box-shadow: 3px 0px 2px #883d1a inset;
    background: #e6b17e;
    padding: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    transition: all 300ms;
    text-align: center;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus {

    border: 0px solid #e6b17e;
 

}

input[type="button"],
input[type="submit"],
input[type="reset"],
button {

    display: block;
    border-radius: 2px;
    border: 1px solid #e6b17e;
    color: #e6b17e;
    width: 60px;
    padding: 3px;
    background-color: #883d1a;
    cursor: pointer;
  
    
    
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover {

    box-shadow: 0px 0px 2px #883d1a;
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
button:active {
    box-shadow: 0px 0px 3px #883d1a inset;
    text-shadow: 0px 0px 1px #e6b17e;
    
}
/*ARTÃCULOS*/
#articles{
    width: 860px;
    float: left;
}

#articles h2{
    display: block;
    width: 95%;
    height: 75px;
    line-height: 75px;
    text-align: center;
    font-family: "BebasNeue";
    font-size: 40px;
    font-weight: normal;
    letter-spacing: 2px;
    background: #883d1a;
    box-shadow: 0px 1px 0px #e6b17e, 1px 2px 0px #e6b17e, 2px 3px 0px #e6b17e, 3px 4px 0px #e6b17e;
    color: #e6b17e;
    font-size: 30px;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 15px;
}

#articles article{
    width: 92%;
    height: auto;
    border: 1px solid #e6b17e;
    margin: 40px auto;
    padding: 10px;
    font-family: "TrebuchetMS";
    background-color: #883d1a;
    color: #e6b17e;
    box-shadow: 1px 1px 2px #e6b17e;
}
#articles article h4{
    display: block;
    font-size: 23px;
    margin: 3px;
}
#articles article h4 a{
    text-decoration: none;
    color: #e6b17e;
}
#articles article h4 a:hover{
    text-decoration: underline;
}

#articles .data{
    float: right;
    background: #2a160c;
    color: #e6b17e;
    height: 30px;
    line-height: 30px;
    margin: -10px;
    padding: 4px;
    font-size: 13px;
    border-radius: 0px 0px 0px 5px;
}
#articles .data span{
    margin: 6px;
}

#articles article p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;

}

#virtual{
    height: 100px;
    margin-top: 60px;
    line-height: 100px;
    text-align: center;
    transition: all 1s;
}
#virtual a{
    display: block;
    font-family: "BebasNeue";
    font-size: 40px;
    letter-spacing: 3px;
    color: #e6b17e;
    text-decoration: none;
    transition: all 1s;
}

#virtual:hover{
    background-color: #2a160c;
    border: 10px solid #e6b17e;
    border-radius: 240px;
    box-shadow: 0px 0px 10px #883d1a;
    animation: blink 10s infinite linear;
    
}

#virtual:hover a{
    color: #e6b17e;
}

/*Footer*/

#footer{
    display: block;
    width: 100%;
    height: 470px;
    background: #883d1a;
    color: #e6b17e;
    overflow: hidden;
    border-top: 1px dashed #e6b17e;
}

#footer .wrap>div{
    float: left;
    width: 320px;
    height: 370px;
    margin: 40px;
    text-align: center;
    color: white;
    font-family: "TrebuchetMS";
}

#footer a{
    text-align: none;
    color: #e6b17e;
    transition: all 300ms;
    text-decoration: #2a160c;
}

#footer h5{
    display: block;
    background: url(../images/pxgray.png), #2a160c;
    height: 50px;
    letter-spacing: 2px;
    text-align: center;
    font-family: "BebasNeue";
    font-size: 40px;
    line-height: 55px;
    color: #e6b17e;
    border-radius: 5px;
    margin-bottom: 15px;
}



#footer ul{
    text-align: left;
    margin: 20px;
    font-size: 25px;
    text-decoration: none;
}
#footer ul li{
    margin-top: 10px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
   
}
#footer ul li a{
    display: block;
    height: 36px;
    text-decoration: none;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    
}
#footer ul li:hover a{
    padding-left: 40px;
    color: #2a160c;
    font-family: "TrebuchetMS";
    font-weight: bold;
    width: 100%;
    
}
#footer iframe{
    width: 100%;
    height: 300px;
    margin-top: 10px;
    border-radius: 5px;
    border: 5px solid white;
    box-shadow: 0px 0px 7px #2a160c;
}
#footer img{
    margin-bottom: 15px;
    text-decoration: none;
    background-color:#883d1a ;
    
}


#footer #browsers img{
    width: 45px;
    border: none;
    text-decoration: none;
    
}
#browsers{
    height: 62px;
}

.correo{
    text-decoration: none;
    font-family: "BebasNeue";
    font-size: 24px;
    letter-spacing: 2px;
}
